.articlePageContainer {
    display: flex;
    flex-direction: column;
}

.articleContainer {
    flex: 1;
    order: 2;
    margin-top: 50px;
    padding-right: 0;
}

.articleIndexContainer {
    flex: 1;
    order: 1;
    padding-right: 0;
}

@media (min-width: 768px) {
    .articlePageContainer {
        flex-direction: row;
    }

    .articleContainer {
        flex: 2;
        order: 1;
        margin-top: 0;
        padding-right: 1rem;
    }

    .articleIndexContainer {
        flex: 1;
        order: 2;
        /* padding-right: 0; */
    }
}