.articleIndexContainer {
    flex: 1;
    order: 1;
    max-width: 50%;
    margin-left: auto;
}

.articleIndexCard {
    top: 0;
    right: 0;
    background-color: var(--mg-light);
    border-top: 4px var(--theme-color-green) solid;
}

h4.heading {
    font-size: 1rem;
    font-size: var(--step-0);
    font-weight: bolder;
    margin: 0 0 1rem 0;
}

.down::after {
    content: '\25BC';
    color: var(--theme-color-green);
}

@media (min-width: 768px) {
    .articleIndexContainer {
        flex: 1;
        order: 2;
        margin-left: 0;
    }
}
