.articlePageContainer {
    display: flex;
}

.articleIndexContainer {
    flex: 1;
    margin-right: 0.50rem;
    margin-bottom: 0;
}

.articleIndexCard {
    top: 0;
    right: 0;
    background-color: #ffffff;
    border-top: 4px var(--theme-color-green) solid;
}

.down::after {
    content: '\25BC';
    color: var(--theme-color-green);
}

@media (min-width: 768px) {
    .sidebar {
        flex-direction: column;
        align-self: flex-start;
        flex: 1;
        min-width: 250px;
        order: 2;
        padding: 1rem 0 1rem 0;
    }

    .eventsSidebarContainer {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .boardSidebarContainer {
        margin-left: 0;
    }

    .cardContainer {
        max-width: 100%;
    }

    .card {
        padding: 1rem;
        position: initial;
        max-width: 100%;
    }

    .cardContainer,
    .card {
        position: static;
    }

    .smallScreen {
        display: none;
    }

    .normalScreen {
        display: block;
    }

    .card:hover {
        position: static;
        z-index: initial;
    }
}
