.articlePageContainer {
    display: flex;
    flex-direction: column;
}

.articleContainer {
    flex: 1;
    order: 2;
    max-width: 90ch;
    margin: 50px auto 0 auto;
    padding-right: 0;
}

.articleIndexContainer {
    flex: 1;
    order: 1;
    padding: 0;
}

.articleContainer > h3 {
    font-size: 1.44rem;
    font-size: var(--step-2);
    color: var(--theme-color-red);
}

.articleContainer > h4 {
    font-size: 1.2rem;
    font-size: var(--step-1);
    color: var(--theme-color-green);
}

@media (min-width: 768px) {
    .articlePageContainer {
        flex-direction: row;
    }

    .articleContainer {
        flex: 2;
        order: 1;
        margin-top: 0;
        padding-right: 1rem;
    }

    .articleIndexContainer {
        flex: 1;
        order: 2;
        padding-top: 1rem;
    }
}
