.authbarContainer {
    display: flex;
    justify-content: flex-end;
    font-size: clamp(0.9rem, 0.55vw + 0.6rem, 1rem);
    background-color: var(--theme-color-yellow-pale);
    padding: 0.25rem 0.5rem;
}

.linkArrows::before {
    content: '\203A \203A \203A';
    color: var(--mg-dark);
    padding-right: 0.25rem;
}

button.showSignin,
button.signout {
    background-color: transparent;
    border: 0;
    color: var(--mg-blue);
    padding: 0;
    margin: 0;
}

button.showSignin:hover,
button.signout:hover {
    background-color: transparent;
    border: 0;
    color: var(--theme-color-orange);
}

.username {
    margin-left: 0.25rem;
    margin-right: 1.5rem;
}
