.blockContentContainer {
    max-width: 90ch;
    margin: 0 auto;
}

.blockContentContainer > ol,
.blockContentContainer > ul,
.blockContentContainer > p {
    font-size: 1rem;
    font-size: var(--step-0);
    margin: 0 auto 1.5rem auto;
}

.blockContentContainer > p + ol,
.blockContentContainer > p + ul {
    margin-top: -1rem;
}

.blockContentContainer > ol,
.blockContentContainer > ul,
.blockContentContainer > p {
    font-size: 1rem;
    font-size: var(--step-0);
    margin: 0 auto 1.5rem auto;
}

.blockContentContainer > p + ol,
.blockContentContainer > p + ul {
    margin-top: -1rem;
}

.blockContentContainer > ul {
    list-style: none;
}

.blockContentContainer > ul li::before {
    content: '\2022';
    color: var(--theme-color-green);
    font-size: 120%;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.blockContentContainer > ol {
    list-style: none;
    counter-reset: li;
}

.blockContentContainer > ol > li {
    counter-increment: li;
}

.blockContentContainer > ol li::before {
    content: counter(li) '.';
    color: var(--theme-color-green);
    display: inline-block;
    width: 2em;
    margin-left: -2em;
    margin-right: 1em;
    text-align: right;
}