.tableWrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.blockContentTable {
    margin: 0 0.5rem 1rem 0.5rem;
    border: 1px var(--mg-gray-2) solid;
}

.blockContentTable > thead {
    background-color: var(--mg-gray-1);
}

.blockContentTable > tbody {
    background-color: #ffffff;
}

.blockContentTable th,
.blockContentTable td {
    padding: 0.5rem 0.75rem;
    vertical-align: bottom;
    text-align: left;
    border: 1px var(--mg-gray-2) solid;
}

.blockContentTable th {
    font-size: .833rem;
    font-size: var(--step--1);
}

.blockContentTable td {
    font-size: .833rem;
    font-size: var(--step--1);
}

.blockContentTable tbody tr:hover {
    background-color: var(--theme-color-dirt-faded);
}
