.blockContentContainer > ol,
.blockContentContainer > ul,
.blockContentContainer > p {
    margin: 0 auto 1.5rem auto;
}

.blockContentContainer > p + ol,
.blockContentContainer > p + ul {
    margin-top: -1rem;
}

.blockContentContainer > ul li::marker {
    color: var(--theme-color-green);
    font-size: 120%;
    font-weight: bold;
}

.blockContentContainer > ol > li {
    padding-left: 0.5rem;
}

.blockContentContainer > ol li::marker {
    color: var(--theme-color-orange);
    font-size: 83.3%;
}

/* table styles */

.tableWrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.blockContentTable {
    margin: 0 0.5rem 1rem 0.5rem;
    border: 1px var(--mg-gray-2) solid;
}

.blockContentTable > thead {
    background-color: var(--mg-gray-1);
}

.blockContentTable > tbody {
    background-color: var(--mg-light);
}

.blockContentTable th,
.blockContentTable td {
    padding: 0.5rem 0.75rem;
    vertical-align: bottom;
    text-align: left;
    border: 1px var(--mg-gray-2) solid;
}

.blockContentTable th {
    font-size: 0.833rem;
    font-size: var(--step--1);
}

.blockContentTable td {
    font-size: 0.833rem;
    font-size: var(--step--1);
}

.blockContentTable tbody tr:hover {
    background-color: var(--theme-color-dirt-faded);
}

/* end table styles */
