.boardCard {
    top: 0;
    right: 0;
    background-color: var(--mg-light);
    border-top: 4px var(--theme-color-green) solid;
}

.down::after {
    content: '\25BC';
    color: var(--theme-color-green);
}