.default {
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.1rem);
    font-weight: bolder;
    color: #ffffff;
    background-color: var(--theme-color-green);
    border: 1px var(--mg-gray-6) solid;
    border-radius: 0.25rem;
    padding: 0.25rem 0.50rem;
    margin: 2rem 0;
    letter-spacing: 1px;
}
