button.btn {
    cursor: pointer;
    border: 0;
    transition: 0.3s;
}

button.btn:focus {
    outline: 1px var(--mg-gray-4) dashed;
    outline-offset: 0.5rem;
}

button.outlined {
}

button.text {
    color: var(--mg-blue);
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}

button.contained {
    color: #ffffff;
    background-color: var(--theme-color-green);
}

button.special {
    color: #ffffff;
    background-color: var(--mg-dark);
    padding: 0 0.25rem 0.25rem 0.25rem;
    margin: 0;
    border: 0;
}

button.specialSize {
    font-size: 1.5rem;
    line-height: 1;
}

button.small {
    font-size: clamp(0.9rem, 0.55vw + 0.6rem, 1rem);
    padding: 0.25rem 0.5rem;
}

button.medium {
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.2rem);
    padding: 0.5rem 1rem;
}

button.large {
    font-size: clamp(1.1rem, 0.7vw + 0.7rem, 1.5rem);
    padding: 0.75rem 1.5rem;
}

button.text:hover {
    color: var(--theme-color-orange);
    outline: 1px var(--mg-gray-3) dashed;
}

button.small.contained:hover {
    box-shadow: 0 0 0 1px var(--theme-color-green), 3px 3px 6px 2px var(--mg-gray-5);
}

button.medium.contained:hover,
button.large.contained:hover {
    box-shadow: 0 0 0 1px var(--theme-color-green), 4px 4px 8px 2px var(--mg-gray-5);
}

button.special:hover {
    cursor: pointer;
    filter: invert();
}
