.constitutionContainer > h2 {
    font-size: 1.2rem;
    font-size: var(--step-1);
    letter-spacing: 1px;
    margin: 2rem auto 1rem auto;
    padding: 2rem 0 0 0;
    border-top: 1px var(--mg-gray-3) solid;
}

.constitutionContainer > h2:first-of-type {
    border-top: 0;
    padding-top: 0;
}

.constitutionContainer > h2 > span:first-of-type {
    font-weight: bolder;
    color: var(--theme-color-red);
}

.constitutionContainer > h3 {
    font-size: 1rem;
    font-size: var(--step-0);
    margin: 0 auto 0.5rem auto;
}

.constitutionContainer > p > em:first-of-type {
    font-size: .833rem;
    font-size: var(--step--1);
    font-weight: bolder;
    font-style: normal;
    margin-right: 0.5rem;
}

.constitutionContainer > p > em:first-of-type::before {
    content: '\00A7';
}
