.showPast {
    color: #024dbc;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s;
    padding: 0.5rem;
    border: 0;
    background-color: transparent;
}

.showPast:focus {
    outline: 1px rgba(0, 0, 0, 0.25) dashed;
}

.showPastIcon::before {
    content: '\2BC8\2BC8 \0020';
    font-size: 0.75rem;
}

.showPast:hover {
    color: #ff7f50;
    cursor: pointer;
    transition: color 0.3s;
}

.showPastDiv {
    text-align: center;
}

.error {
    text-align: center;
    margin: 1rem 0;
    color: red;
}

.details {
    color: rgba(32, 64, 32, 1);
    font-size: 100%;
}

.table,
.pastTable {
    margin: 1rem 0;
}

.pastTable {
    color: rgba(0, 0, 0, 0.6);
}

.row {
    display: flex;
    flex-flow: row nowrap;
    min-width: 50%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

.headingRow {
    font-size: 1.25rem;
    font-weight: bolder;
    background-color: rgba(0, 128, 0, 0.25);
}

.pastHeadingRow {
    font-size: 1.25rem;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.15);
}

.bodyRow {
    background-color: rgba(255, 127, 80, 0.1);
}

.pastBodyRow {
    background-color: rgba(0, 0, 0, 0.05);
}

.pastBodyRow:nth-of-type(2n),
.bodyRow:nth-of-type(2n) {
    background-color: #ffffff;
}

.td {
    margin: 0;
    padding: 0.5rem;
}

.td1 {
    flex: 1;
}

.td2 {
    flex: 3;
}

.urgent {
    color: rgba(192, 0, 0, 1);
}

.soon {
    color: orange;
}

.normal {
    color: rgba(0, 128, 0, 1);
}

.iconLegend {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.notice {
    text-align: center;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.60);
    margin-top: 0.5rem;
    margin-bottom: 0;
    line-height: 1;
}

.break::before {
    content: '\A';
    white-space: pre;
}

@media (min-width: 768px) {
    .break::before {
        content: ' ';
    }
}