.card {
    border-top: 4px var(--theme-color-orange) solid;
    box-shadow: 0 3px 6px 0 var(--mg-gray-4);
    padding: 2rem 1rem 1rem 1rem;
}

h4.eventsHeading {
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.2rem);
    font-weight: bolder;
    margin: 0 0 2rem 0;
}

.eventDiv {
    background-color: #ffffff;
    margin: 0 0 0.50rem 0;
    padding: 0.25rem 0.50rem;
    border: 1px var(--mg-gray-3) solid;
    border-radius: 0.50rem;
    box-shadow: 2px 2px 4px 0 var(--mg-gray-3);
}

h5.eventDate {
    color: var(--theme-color-red);
    margin: 0 0 0.50rem 0;
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.2rem);
}

p.eventDetails {
    margin: 0;
    font-size: clamp(0.9rem, 0.55vw + 0.55rem, 1.1rem);
}

.viewAll {
    font-size: clamp(0.8rem, 0.55vw + 0.5rem, 1rem);
    text-align: right;
    margin-top: 2rem;
}

/* .viewAll::after {
    content: '\1F4C5';
    font-size: 2rem;
    color: #ffffff;
    padding-left: 0.50rem;
} */

.icon {
    width: 100%;
    max-width: 60px;
    height: auto;
    margin-left: 1rem;
}
