.eventsContainer {
    width: 100%;
    max-width: 632px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--mg-yellow-pale);
    border-top: 4px var(--theme-color-orange) solid;
    box-shadow: 0 3px 6px 0 var(--mg-gray-4);
}

.eventRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0.25rem 0.5rem;
    border-top: 4px var(--mg-orange-soft) solid;
    box-shadow: 0 2px 4px 0 var(--mg-gray-3);
    margin: 0 0 1rem 0;
}

.eventRow:last-of-type {
    margin-bottom: 0;
}

.eventDiv {
    flex: 1;
}

.eventRight {
    flex: 0 0 auto;
    font-size: clamp(1.6rem, 1.2vw + 1rem, 2.4rem);
}

.eventRight > p {
    line-height: 1;
    margin: 0;
    padding-bottom: 0.50rem;
}

h5.eventDate {
    color: var(--theme-color-red);
    margin: 0 0 0.5rem 0;
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.2rem);
}

p.eventName {
    margin: 0;
    font-size: clamp(0.9rem, 0.55vw + 0.55rem, 1.1rem);
}

span.eventDetails {
    font-size: clamp(0.8rem, 0.55vw + 0.5rem, 1rem);
    color: var(--mg-gray-6);
}

.urgent {
    color: var(--theme-color-red);
}

.soon {
    color: var(--mg-orange);
}

.normal {
    color: var(--theme-color-green);
}

.showPast {
    color: var(--mg-blue);
    text-decoration: none;
    text-align: center;
    transition: color 0.3s;
    padding: 0.5rem;
    border: 0;
    background-color: transparent;
}

.showPast:focus {
    outline: 1px var(--mg-gray-3) dashed;
}

.showPastIcon::before {
    content: '\2BC8\2BC8 \0020';
    font-size: 0.75rem;
}

.showPast:hover {
    color: var(--theme-color-orange);
    cursor: pointer;
    transition: color 0.3s;
}

.showPastDiv {
    text-align: center;
}

.error {
    text-align: center;
    margin: 1rem 0;
    color: var(--theme-color-red);
}

.pastTable {
    color: var(--mg-gray-6);
    width: 100%;
    max-width: 632px;
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
}

.pastHeadingRow {
    font-size: 1.25rem;
    font-weight: bolder;
    background-color: var(--theme-color-dirt-faded);
}

.pastBodyRow {
    background-color: var(--mg-gray-1);
}

.pastBodyRow:nth-of-type(2n),
.bodyRow:nth-of-type(2n) {
    background-color: #ffffff;
}

.td {
    margin: 0;
    padding: 0.5rem;
}

.td1 {
    flex: 1;
}

.td2 {
    flex: 3;
}

.iconLegend {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.notice {
    text-align: center;
    font-size: clamp(0.8rem, 0.55vw + 0.5rem, 1rem);
    color: var(--mg-gray-6);
    margin-top: 0.5rem;
    margin-bottom: 0;
    line-height: 1;
}

.break::before {
    content: '\A';
    white-space: pre;
}

@media (min-width: 768px) {
    .break::before {
        content: ' ';
    }
}
