.eventsDiv {
    width: 100%;
    max-width: 632px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--theme-color-yellow-pale);
    border-top: 4px var(--theme-color-orange) solid;
    box-shadow: 0 3px 6px 0 var(--mg-gray-4);
}

.eventRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mg-light);
    padding: 0.25rem 0.5rem;
    border-top: 4px var(--mg-orange-soft) solid;
    box-shadow: 0 2px 4px 0 var(--mg-gray-3);
    margin: 0 0 1rem 0;
}

.eventRow:last-of-type {
    margin-bottom: 0;
}

.eventDiv {
    flex: 1;
}

.eventRight {
    flex: 0 0 auto;
}

.eventRight > p {
    font-size: 1.728rem;
    font-size: var(--step-3);
    line-height: 1;
    margin: 0;
    padding-bottom: 0.50rem;
}

h5.eventDate {
    color: var(--theme-color-red);
    margin: 0 0 0.5rem 0;
    font-size: 1rem;
    font-size: var(--step-0);
}

p.eventName {
    margin: 0;
}

span.eventDetails,
p.eventDetails {
    font-size: .833rem;
    font-size: var(--step--1);
    color: var(--mg-gray-6);
    margin: 0;
}

.urgent {
    color: var(--theme-color-red);
}

.soon {
    color: var(--mg-orange-soft);
}

.normal {
    color: var(--theme-color-green);
}

.showPastDiv {
    text-align: center;
    margin: 4rem 0 2rem 0;
}

.pastTable {
    color: var(--mg-gray-6);
    width: 100%;
    max-width: 632px;
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
}

.pastHeadingRow {
    font-size: 1.2rem;
    font-size: var(--step-1);
    font-weight: bolder;
    background-color: var(--mg-gray-1);
}

.pastBodyRow {
    background-color: var(--mg-gray-1);
}

.pastBodyRow:nth-of-type(2n),
.bodyRow:nth-of-type(2n) {
    background-color: var(--mg-light);
}

.td {
    margin: 0;
    padding: 0.5rem;
}

.td1 {
    flex: 1;
}

.td2 {
    flex: 3;
}

.iconLegend {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.notice {
    text-align: center;
    font-size: .833rem;
    font-size: var(--step--1);
    color: var(--mg-gray-6);
    margin-top: 0.5rem;
    margin-bottom: 0;
    line-height: 1;
}

.break::before {
    content: '\A';
    white-space: pre;
}

@media (min-width: 768px) {
    .break::before {
        content: ' ';
    }
}
