.footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    color: #666666;
    line-height: 1;
    border-top: 2px #ddeeee solid;
    font-size: 0.8rem;
}

@media (min-width: 480px) {
    .footer {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .footer {
        font-size: 1rem;
    }
}
