.footer {
    font-size: clamp(0.9rem, 0.55vw + 0.55rem, 1rem);
    text-align: center;
    background-color: var(--mg-gray-1);
    padding: 1rem;
    color: var(--mg-gray-6);
    border-top: 2px var(--theme-color-green) solid;
}
