/* the css color variables could/should be in your global css */

/* form {
    --mg-gray-4: #a9a9a9;
    --mg-gray-6: #585858;
    --mg-red-dark: #b22222;
} */

/* the below form.form class will be in the css of the page/component that imports this input component */

/* form.form {
    max-width: 60ch;
    margin: 5rem auto 0 auto;
    padding: 2rem;
    border: 2px var(--mg-gray-4) solid;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px 0 var(--mg-gray-4);
} */

/* start necessary css for this component */

.inputWrapper {
    margin: 1rem 0;
}

label.label,
label.label + input.input {
    display: block;
}

label.label:not(.small) {
    max-width: 30ch;
    margin: 0;
    font-size: 1rem;
    font-size: var(--step-0);
}

input.input:not(.small) {
    max-width: 30ch;
    font-size: 1rem;
    font-size: var(--step-0);
    margin: 0;
    padding: 0.5rem;
    border: 1px var(--mg-gray-6) solid;
}

label.label.small {
    max-width: 20ch;
    margin: 0;
    font-size: .833rem;
    font-size: var(--step--1);
}

input.input.small {
    max-width: 20ch;
    font-size: .833rem;
    font-size: var(--step--1);
    margin: 0;
    padding: 0.5rem;
    border: 1px var(--mg-gray-6) solid;
}

input.input:focus {
    border: 1px var(--theme-color-orange) solid;
    outline: 0;
    box-shadow: 0 0 4px 4px var(--theme-color-dirt);
}

.errorMessage {
    font-size: .833rem;
    font-size: var(--step--1);
    color: var(--mg-red-dark);
    display: none;
    margin: 0;
}

input.input:not(:placeholder-shown):not(:focus):invalid + .errorMessage {
    display: block;
}

input.submit {
    margin: 2rem 0 1rem 0;
}

label > .required {
    font-size: .833rem;
    font-size: var(--step--1);
    color: var(--mg-red-dark);
    margin-left: 1rem;
}
