.forumPageWrapper {
    max-width: 800px;
    margin: 0 auto;
}

.forumsContainer {
    margin: 0 auto 3rem auto;
    border: 1px var(--mg-gray-3) solid;
    box-shadow: 3px 3px 6px 0 var(--mg-gray-4);
    overflow: hidden;
}

.forumPageWrapper blockquote {
    position: relative;
    color: var(--mg-gray-6);
    font-size: 0.83rem;
    font-size: var(--step--1);
    background-color: var(--mg-gray-1);
    text-align: left;
    padding: 1rem 1rem 1rem 2rem;
    margin: 1rem 2rem;
    border-left: 0.25rem solid var(--mg-gray-5);
}

.forumPageWrapper blockquote::before {
    position: absolute;
    top: 0;
    left: 0.5rem;
    content: '\275D';
    color: var(--mg-gray-6);
    font-size: var(--step-3);
}

.forumsHeadingRow {
    display: grid;
    grid-template-columns: 60% 40%;
}

.forumsHeadingItem2 {
    display: none;
}

.forumsHeadingItem3 {
    display: none;
}

.forumsDataRow {
    display: grid;
    grid-template-areas: 'forum forum post' 'topics posts post';
    grid-template-columns: 30% 30% 40%;
}

.forumsDataItem {
    align-self: start;
}

.forumsDataItem1 {
    grid-area: forum;
}

.forumsDataItem2,
.forumsDataItem2a {
    grid-area: topics;
    font-size: 0.83rem;
    font-size: var(--step--1);
}

.forumsDataItem2:before {
    content: 'Topics: ';
    color: var(--mg-gray-6);
}

.forumsDataItem2a:before {
    content: 'Replies: ';
    color: var(--mg-gray-6);
}

.forumsDataItem3,
.forumsDataItem3a {
    grid-area: posts;
    font-size: 0.83rem;
    font-size: var(--step--1);
}

.forumsDataItem3:before {
    content: 'Posts: ';
    color: var(--mg-gray-6);
}

.forumsDataItem3a:before {
    content: 'Views: ';
    color: var(--mg-gray-6);
}

.forumsDataItem4 {
    grid-area: post;
}

.forumsHeadingRow {
    font-size: 0.833rem;
    font-size: var(--step--1);
    color: var(--mg-dark);
    background-color: var(--theme-color-dirt);
    border-bottom: 1px var(--mg-gray-3) solid;
}

.forumsDataRow {
    font-size: 1rem;
    font-size: var(--step-0);
    min-height: 40px;
    background-color: var(--mg-light);
    border-bottom: 1px var(--mg-gray-3) solid;
}

.forumsDataRow:last-of-type {
    border-bottom: 0;
}

.forumsDataRow:hover {
    background-color: var(--theme-color-yellow-pale);
}

.forumsHeadingItem,
.forumsDataItem {
    padding: 0.5rem 0.25rem;
}

.forumsTitle {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: clamp(4px, 2px + 0.4vw, 8px);
}

.forumsName,
.forumsDescription {
    margin-bottom: 0;
}

.forumsDescription {
    color: var(--mg-gray-6);
    font-size: 0.833rem;
    font-size: var(--step--1);
}

.forumsDataItem > p {
    font-size: 0.833rem;
    font-size: var(--step--1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.messageIcon {
    width: clamp(20px, 12px + 1.25vw, 32px);
    height: auto;
    vertical-align: text-bottom;
}

.new {
    fill: var(--theme-color-red);
}

.med {
    fill: var(--theme-color-orange);
}

.old {
    fill: var(--mg-gray-4);
}

.forumPageHeadding {
    font-size: 1.44rem;
    font-size: var(--step-2);
}

.forumText {
    color: var(--theme-color-orange);
}

.on::before {
    content: '';
}

.success {
    font-size: 1.2rem;
    font-size: var(--step-1);
    color: var(--theme-color-green);
    text-align: center;
}

.content r,
.content t {
    display: block;
    font-size: 1rem;
    font-size: var(--step-0);
    margin-top: 0;
    margin-bottom: 1rem;
}

@media (min-width: 480px) {
    .forumsHeadingRow,
    .forumsDataRow {
        grid-template-columns: 40% 15% 15% 30%;
        padding: 0.5rem;
    }

    .forumsDataRow {
        grid-template-areas: 'forum topics posts post';
    }

    .forumsHeadingItem2 {
        display: block;
    }

    .forumsHeadingItem3 {
        display: block;
    }

    .forumsDataItem2:before,
    .forumsDataItem2a:before,
    .forumsDataItem3:before,
    .forumsDataItem3a:before {
        content: '';
    }
}

@media (min-width: 768px) {
}
