.header {
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.75), 50%, rgba(255, 255, 255, 0)),
        linear-gradient(-90deg, rgba(255, 255, 255, 0.75), 25%, rgba(255, 255, 255, 0)), url('/images/header_bg.jpg');
    background-size: stretch;
    background-position: center;
    color: #666666;
    border-bottom: 2px #ddeeee solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}

.headerLeft {
    flex: 1;
    text-align: left;
    padding: 0.5rem;
}

.heading {
    color: #c11b17;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.50);
    margin-bottom: 0;
    font-size: 1.75rem;
}

.subHeading {
    color: #000080;
    font-style: italic;
    line-height: 1.25;
    font-size: 0.8rem;
}

.subHeading::before {
    content: '\2014\00A0';
}

.subHeading::after {
    content: '\00A0\2014';
}

@media (min-width: 480px) {
    .heading {
        font-size: 2rem;
    }

    .subHeading {
        font-size: 0.9rem;
    }

    .header {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.80), 40%, rgba(255, 255, 255, 0)),
            linear-gradient(-90deg, rgba(255, 255, 255, 0.80), 20%, rgba(255, 255, 255, 0)), url('/images/header_bg.jpg');
    }
}

@media (min-width: 768px) {
    .heading {
        font-size: 2.5rem;
    }

    .subHeading {
        font-size: 1rem;
    }

    .header {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.85), 30%, rgba(255, 255, 255, 0)),
            linear-gradient(-90deg, rgba(255, 255, 255, 0.85), 15%, rgba(255, 255, 255, 0)), url('/images/header_bg.jpg');
    }
}
