.header {
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.85), 40%, rgba(255, 255, 255, 0)),
        linear-gradient(-135deg, rgba(255, 255, 255, 0.85), 25%, rgba(255, 255, 255, 0)), url('/images/header_bg.jpg');
    background-size: cover;
    background-position: center;
    color: #666666;
    border-bottom: 2px #ddeeee solid;
    display: flex;
    flex-direction: row;
    padding: 0;
}

.headerLeft {
    flex: 1;
    text-align: left;
    padding: 1rem 0.50rem 1rem 1rem;
}

h1.heading {
    color: #c11b17;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: bolder;
}

a.logoText {
    color: #c11b17 !important;
    /* padding: 0.50rem;
    margin: 0; */
    text-decoration: none;
    transition: 0.3s;
}

a.logoText:focus,
a.logoText:hover {
    color: #eb211c !important;
    text-decoration: none;
    outline: 1px rgba(0, 0, 0, 0.25) dashed;
    outline-offset: 0.50rem;
    transition: 0.6s;
}

.subHeading {
    color: #000080;
    font-style: italic;
    line-height: 1.25;
    font-size: 1rem;
}

.subHeading::before {
    content: '\2014\00A0';
}

.subHeading::after {
    content: '\00A0\2014';
}

@media (min-width: 480px) {
    h1.header {
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.80), 35%, rgba(255, 255, 255, 0)),
            linear-gradient(-135deg, rgba(255, 255, 255, 0.85), 20%, rgba(255, 255, 255, 0)), url('/images/header_bg.jpg');
    }
}

@media (min-width: 768px) {
    h1.heading {
        font-size: 2.5rem;
    }

    .header {
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.75), 30%, rgba(255, 255, 255, 0)),
            linear-gradient(-135deg, rgba(255, 255, 255, 0.85), 15%, rgba(255, 255, 255, 0)),
            url('/images/header_bg.jpg');
        flex-direction: column;
    }
}
