.homeContainer {
    display: flex;
    flex-direction: column;
}

.newsContainer {
    flex: 1;
    order: 2;
    padding-right: 1rem;
}

.newsItem {
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.2rem);
    border-bottom: 1px var(--mg-gray-2) solid;
    overflow: auto;
    margin-bottom: 1rem;
    padding-bottom: 0.50rem;
}

.newsItem:last-of-type {
    border: 0;
}

.newItem > p {
    max-width: 80ch;
}

.newsItem > ul {
    list-style-type: circle;
}

.newsHeading {
    font-size: clamp(1.1rem, 0.7vw + 0.7rem, 1.5rem);
    max-width: 60ch;
    margin: 0;
    color: var(--theme-color-orange);
}

.newsDate {
    color: var(--mg-gray-6);
    margin-bottom: 1rem;
}

.showMore {
    text-align: center;
    margin-top: 3rem;
}

.showMoreButton {
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.2rem);
    color: var(--mg-blue);
    background-color: #ffffff;
    border: 0;
    box-shadow: 0 0 2px 2px var(--theme-color-dirt-faded);
    padding: 0.5rem 1rem;
    outline: none;
    transition: 0.3s;
}

.showMoreButton::before {
    content: '\203A \203A \203A';
    padding-right: 0.25rem;
}

.showMoreButton:hover {
    color: var(--theme-color-orange);
    background-color: #ffffff;
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 2px 1px var(--theme-color-orange);
    transition: 0.3s;
}

.showMoreButton:focus {
    outline: 1px var(--mg-gray-2) dashed;
    outline-offset: 0.5rem;;
    transition: 0.3s;
}

@media (min-width: 768px) {
    .homeContainer {
        flex-direction: row;
    }

    .newsContainer {
        flex: 2;
        order: 1;
        padding-right: 1rem;
    }
}
