.homeContainer {
    display: flex;
    flex-direction: column;
}

.newsContainer {
    flex: 1;
    order: 2;
    padding-right: 1rem;
}

.sidebar {
    display: flex;
    flex-direction: row;
    order: 1;
    padding: 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--mg-gray-5);
}

.eventsSidebarContainer {
    flex: 1;
    margin-right: 0.50rem;
    margin-bottom: 0;
    border-bottom: none;
}

.boardSidebarContainer {
    flex: 1;
    margin-left: 0.50rem;
}

.newsItem {
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.2rem);
    border-bottom: 1px var(--mg-gray-2) solid;
    overflow: auto;
    margin-bottom: 1rem;
    padding-bottom: 0.50rem;
}

.newsItem:last-child {
    border: 0;
}

.newItem > p {
    max-width: 80ch;
}

.newsItem > ul {
    list-style-type: circle;
}

.newsHeading {
    font-size: clamp(1.1rem, 0.7vw + 0.7rem, 1.5rem);
    max-width: 60ch;
    margin: 0;
    color: var(--theme-color-orange);
    /* font-size: clamp(1.2rem, 0.85vw + 0.8rem, 1.8rem); */
    /* font-variant: small-caps; */
}

.newsDate {
    color: var(--mg-gray-6);
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .homeContainer {
        flex-direction: row;
    }

    .newsContainer {
        flex: 2;
        order: 1;
        padding-right: 1rem;
    }
    
    .sidebar {
        display: block;
        flex: 1;
        min-width: 200px;
        order: 2;
        padding: 1rem 0 1rem 1rem;
        border: none;
    }

    .eventsSidebarContainer {
        margin-right: 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--mg-gray-5);
    }

    .boardSidebarContainer {
        margin-left: 0;
    }
}
