.card {
    width: 100%;
    max-width: 475px;
    margin: 0 0 1.5rem 0;
    padding: 0.5rem;
    border: 1px var(--mg-gray-4) solid;
    box-shadow: 3px 3px 6px 0 var(--mg-gray-4);
}

.card:last-of-type {
    margin: 0;
}

.americanCard {
    border-left: 8px var(--theme-color-red) solid;
}

.nationalCard {
    border-left: 8px var(--mg-blue) solid;
}

.heading {
    margin: 0 0 1.5rem 0;
    padding-bottom: 0.50rem;
    border-bottom: 1px var(--mg-gray-3) solid;
}

.heading > h5 {
    font-size: 1.2rem;
    font-size: var(--step-1);
    text-align: center;
    margin-bottom: 0;
}

.body p {
    font-size: 1.2rem;
    font-size: var(--step-1);
    margin: 0;
}

.footing {
    margin: 1rem 0 0 0;
    padding-top: 0.50rem;
    border-top: 1px var(--mg-gray-3) solid;
}

.footing > p {
    font-size: .833rem;
    font-size: var(--step--1);
    color: var(--mg-gray-6);
    text-align: center;
    margin: 0;
}

.americanHeading {
    color: var(--theme-color-red);
}

.nationalHeading {
    color: var(--mg-blue);
}

.abbrev {
    margin-left: 0.50rem;
    font-size: 83.3%;
    color: var(--mg-gray-6);
}

.description {
    color: var(--mg-gray-6);
}

.description::before {
    content: '\2139';
    padding-right: 0.50rem;
    background-color: #ffffff;
}

.manager {
    max-width: 50ch;
    margin: 0 auto 1.5rem auto;
    padding-left: 1rem;
    border-left: 3px var(--mg-dark) solid;
}

.manager:last-of-type {
    margin-bottom: 0;
}
