.nav {
    flex: 0 0 auto;
    position: relative;
    padding: 0.50rem 0.50rem 0.50rem 0;
    background-color: transparent;
    cursor: pointer;
}

.nav::before {
    color: var(--mg-dark);
    content: '\2630';
    font-weight: normal;
    font-size: 2.5rem;
    padding: 0 0 0 2.5rem; /* the large padding-left value is assuming the nav 'sandwich' is on the right and it allows for more hover space to the left of it  */
}

ul.navdropdownContent {
    display: none;
    position: absolute;
    right: 0.50rem;
    padding: 0;
    margin: 0;
    background-color: var(--mg-white);
    list-style-type: none;
    width: auto;
    min-width: 200px;
    max-width: 300px;
    text-align: left;
    overflow: hidden;
    box-shadow: 4px 8px 8px 0px var(--mg-gray-2);
    transition: background-color 0.3s;
}

ul.navdropdownContent > li > a {
    margin: 0;
    padding: 1.5rem 0.5rem;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    border-bottom: 1px var(--mg-gray-2) solid;
    line-height: 1; /* since this text is not allowed to wrap, setting the line-height to 1 gives more control over the vertical padding */
    transition: color 0.3s;
}

ul.navdropdownContent > li:last-child > a {
    border-bottom: 0;
}

ul.navdropdownContent > li > a:hover {
    background-color: rgba(27, 82, 120, 0.75);
    color: var(--mg-white);
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

ul.navdropdownContent > li > a.disabled {
    pointer-events: none;
    color: var(--mg-gray-6);
}

ul.navdropdownContent > li > a.disabled::before {
    content: '';
    margin-left: 1rem;
}

.nav:hover > ul.navdropdownContent {
    display: block;
}

/* this media query could be changed to 480px if there weren't too many nav links */
@media (min-width: 768px) {
    .nav {
        flex: 1;
        position: static;
        padding: 0;
        cursor: initial;
    }

    .nav::before {
        display: none;
        content: '';
        padding: 0;
    }

    ul.navdropdownContent {
        position: static;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: auto;
        max-width: 100%;
        box-shadow: none;
    }

    ul.navdropdownContent > li > a {
        padding: 0.5rem;
        margin: 0.25rem 0.25rem 0 0.25rem;
        border: 0;
        position: relative;
        white-space: nowrap;
    }

    ul.navdropdownContent > li > a:hover {
        color: var(--theme-color-orange);
        background-color: var(--mg-white);
        cursor: pointer;
    }

    ul.navdropdownContent > li:first-child > a {
        margin: 0.25rem 0.25rem 0 0;
    }

    ul.navdropdownContent > li:last-child > a {
        margin: 0.25rem 0 0 0.25rem;
    }

    .nav:hover > ul.navdropdownContent {
        display: flex;
    }

    ul.navdropdownContent > li > a::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 3px;
        content: '';
        background-color: transparent;
        transition: width 0.3s, left 0.3s, background-color 1s;
    }

    ul.navdropdownContent > li > a.disabled::after,
    ul.navdropdownContent > li > a:hover::after {
        width: calc(
            100% - 1rem
        ); /* necessary because the <a> element has 0.50rem horizontal padding times 2 for both sides */
        left: 0.5rem; /* necessary because the <a> element has 0.50rem padding-left */
        background-color: var(--theme-color-orange);
        transition: width 0.3s, left 0.3s, background-color 1s;
    }

    ul.navdropdownContent > li > a:hover::after {
        background-color: var(--theme-color-orange);
    }

    ul.navdropdownContent > li > a.disabled {
        pointer-events: none;
        color:rgba(0, 0, 0, 0.60);
    }

    ul.navdropdownContent > li > a.disabled::after {
        background-color: rgba(0, 0, 0, 0.25);
    }

    ul.navdropdownContent > li > a.disabled::before {
        content: '';
        margin-left: 0;
    }
}
