.nav {
    flex: 0 0 auto;
    position: relative;
    padding: 1rem;
}

.nav::before {
    color: rgba(0, 0, 0, 0.8);
    content: '\2630';
    font-weight: normal;
    font-size: 2.5rem;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
}

.navdropdownContent {
    text-align: left;
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    width: auto;
    min-width: 150px;
    max-width: 300px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: background-color 0.3s;
}

.navdropdownContent a {
    color: #216290;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
    white-space: nowrap;
    border-bottom: 1px #d3d3d3 solid;
    line-height: 1;
}

.navdropdownContent a:last-child {
    border-bottom: 0;
}

.navdropdownContent a:hover {
    background-color: rgba(27, 82, 120, 0.75);
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.nav:hover .navdropdownContent {
    display: block;
}

.nav:hover {
    color: #216290;
    transition: 0.3s;
}

.viewing {
    cursor: default;
    color: #7c8787 !important;
}

.viewing:hover {
    background-color: #ffffff !important;
}

.current-text {
    margin-left: 0.5rem;
}

@media (min-width: 768px) {
    .nav {
        flex: 1;
        position: unset;
        padding: 0;
    }

    .nav::before {
        display: none;
        content: '';
        padding: 0;
    }

    .navdropdownContent {
        position: unset;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        min-width: auto;
        max-width: 100%;
        box-shadow: none;
    }

    .navdropdownContent a {
        padding: 0.50rem;
        margin: 0.25rem 0.25rem 0 0.25rem;
        border: 0;
        position: relative;
        white-space: nowrap;
    }

    .navdropdownContent a:hover {
        color: coral;
        background-color: transparent;
        cursor: pointer;
    }

    .navdropdownContent a:first-child {
        margin: 0.25rem 0.25rem 0 0;
    }

    .navdropdownContent a:last-child {
        margin: 0.25rem 0 0 0.25rem;
    }

    .nav:hover .navdropdownContent {
        display: flex;
    }

    .nav:hover {
        color: unset;
    }

    .navdropdownContent a::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 3px;
        content: '';
        background-color: transparent;
        transition: width 0.3s, left 0.3s, background-color 1s;
    }

    .navdropdownContent a:hover::after {
        width: calc(100% - 1rem);
        left: 0.50rem;
        background-color: coral;
        transition: width 0.3s, left 0.3s, background-color 1s;
    }
}
