.form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.25rem;
}

.form > label,
.form > label > input {
    display: block;
}

.form > label {
    margin: 0 0.25rem;
    font-size: clamp(0.9rem, 0.55vw + 0.6rem, 1rem);
}

.form > label > input {
    font-size: clamp(0.9rem, 0.55vw + 0.6rem, 1rem);
    margin-left: 0.25rem;
    padding: 0 0.25rem;
    border: 1px var(--mg-gray-6) solid;
    max-width: 15ch;
}

.form > label > input:focus {
    border: 1px var(--theme-color-orange) solid;
    outline: 0;
    box-shadow: 0 0 2px 2px var(--theme-color-dirt);
}

/* button.showSignin {
    background-color: transparent;
    border: 0;
    color: var(--mg-blue);
    padding: 0;
    margin: 0 0 0 0.50rem;
}

button.showSignin:hover {
    background-color: transparent;
    border: 0;
    color: var(--theme-color-orange);
} */

button.submitButton {
    font-size: clamp(0.9rem, 0.55vw + 0.6rem, 1rem);
    color: #ffffff;
    background-color: var(--theme-color-green);
    border: 1px var(--mg-gray-6) solid;
    border-radius: 0.25rem;
    padding: 0 0.25rem 0.25rem 0.25rem;
    margin: 0 0 0 0.25rem;
    letter-spacing: 1px;
}

button.submitButton:focus:not(:hover) {
    outline: 1px var(--mg-gray-3) dashed;
    outline-offset: 0.25rem;
}

button.submitButton:hover {
    color: var(--mg-dark);
    background-color: var(--mg-yellow-pale);
    border: 1px var(--theme-color-orange) solid;
    box-shadow: 0 0 4px 4px var(--theme-color-dirt);
}

.error {
    display: block;
    text-align: center;
    font-size: clamp(0.9rem, 0.55vw + 0.6rem, 1rem);
    color: var(--theme-color-red);
    margin: 0;
}

@media (min-width: 768px) {
    .error {
        display: inline-block;
        margin: 0 2rem 0 0;
    }
}