/* suneditor contents */
.sun-editor-editable {
    word-break: normal;
    word-wrap: break-word;
    padding: 1rem;
    margin: 0;
}

/* pre */
.sun-editor-editable pre {
    display: block;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 0.833em;
    font-size: var(--step-0);
    color: var(--mg-dark);
    background-color: var(--mg-light);
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0;
    word-break: keep-all;
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto;
}

/* ol, ul */
.sun-editor-editable ol {
    list-style-position: outside;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.sun-editor-editable ul {
    list-style-position: outside;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.sun-editor-editable li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 5px;
}

/* nested list ol, ul */
.sun-editor-editable ol ol,
.sun-editor-editable ol ul,
.sun-editor-editable ul ol,
.sun-editor-editable ul ul {
    margin: 0;
}
.sun-editor-editable ol ol,
.sun-editor-editable ul ol {
    list-style-type: lower-alpha;
}
.sun-editor-editable ol ol ol,
.sun-editor-editable ul ol ol,
.sun-editor-editable ul ul ol {
    list-style-type: upper-roman;
}
.sun-editor-editable ul ul,
.sun-editor-editable ol ul {
    list-style-type: circle;
}
.sun-editor-editable ul ul ul,
.sun-editor-editable ol ul ul,
.sun-editor-editable ol ol ul {
    list-style-type: square;
}

/* sub, sup */
.sun-editor-editable sub,
.sun-editor-editable sup {
    font-size: 75%;
    line-height: 0;
}
.sun-editor-editable sub {
    vertical-align: sub;
}
.sun-editor-editable sup {
    vertical-align: super;
}

/** format style */
/* p */
.sun-editor-editable p {
    display: block;
    margin: 0 0 10px;
}

/* div */
.sun-editor-editable div {
    display: block;
    margin: 0;
    padding: 0;
}

/* blockquote */
.sun-editor-editable blockquote {
    display: block;
    position: relative;
    color: var(--mg-gray-6);
    font-size: 0.83rem;
    font-size: var(--step--1);
    background-color: var(--mg-gray-1);
    text-align: left;
    padding: 1rem 1rem 1rem 2rem;
    margin: 1rem;
    border-left: 0.25rem solid var(--mg-gray-5);
}

.sun-editor-editable blockquote::before {
    position: absolute;
    top: 0;
    left: 0.5rem;
    content: '\275D';
    color: var(--mg-gray-6);
    font-size: var(--step-3);
}

/* hr */
.sun-editor-editable hr {
    display: flex;
    border-width: 1px 0 0;
    border-color: black;
    border-image: initial;
    height: 1px;
}
.sun-editor-editable hr.__se__solid {
    border-style: solid none none;
}

.sun-editor-editable hr.on {
    border-color: #4592ff;
    -webkit-box-shadow: 0 0 0 0.1rem #c7deff;
    box-shadow: 0 0 0 0.1rem #c7deff;
}
