.ProseMirror {
    font-size: 1rem;
    font-size: var(--step-0);
    min-height: 100px;
    /* border: 1px var(--mg-gray-3) solid; */
    /* padding: 0.5rem; */
    margin: 1rem 0;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
}

.ProseMirror-focused {
    outline: none
}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 1rem;
}

.ProseMirror ul li p,
.ProseMirror ol li p {
    margin: 0;
}

.ProseMirror pre {
    background: none;
    margin-bottom: 1rem;
    border: 0;
}

.ProseMirror pre code {
    display: block;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 0.833em;
    font-size: var(--step--1);
    color: var(--mg-dark);
    background: none;
    margin: 0;
    /* border: 1px solid var(--mg-gray-1); */
    border: 0;
    word-break: keep-all;
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto;
}

.ProseMirror blockquote {
    position: relative;
    color: var(--mg-dark);
    font-size: 0.83rem;
    font-size: var(--step--1);
    background-color: var(--mg-gray-1);
    text-align: left;
    padding: 1rem 1rem 1rem 2rem;
    margin: 1rem 2rem;
    border-left: 0.25rem solid var(--mg-gray-5);
}

.ProseMirror blockquote p:last-of-type {
    margin: 0;
}

.ProseMirror blockquote::before {
    position: absolute;
    top: 0;
    left: 0.5rem;
    content: '\275D';
    color: var(--mg-gray-6);
    font-size: var(--step-3);
}

.ProseMirror hr {
    border: none;
    border-top: 2px solid var(--mg-gray-3);
    margin: 2rem 0;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    border: 1px var(--mg-gray-3) solid;
    border-radius: 0.25rem;
}

.btn-group-right {
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-start;
    margin-left: 2rem;
}

.toolbar button {
    margin: 0.5rem;
    cursor: pointer;
    background: var(--theme-color-yellow-pale);
    border: 1px solid var(--mg-gray-3);
    border-radius: 2px;
    outline: none;
    box-shadow: 2px 2px 4px var(--mg-gray-4);
    transition: 0.2s;
}

.toolbar button.is-active {
    background-color: var(--mg-light);
    box-shadow: 1px 1px 2px var(--mg-gray-4) inset;
}

.toolbar button:hover {
    background-color: var(--mg-orange-soft);
}

.toolbar button:not(.is-active):hover {
    box-shadow: 2px 2px 2px var(--mg-gray-4);
}
