.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--mg-white);
    background-color: var(--mg-dark);
    font-size: clamp(0.9rem, 0.55vw + 0.6rem, 1rem);
    padding: 0.25rem;
    text-align: center;
}

.content {
    flex: 1;
}

.moreInfoSpan::before {
    content: '\203A \203A \203A';
    color: var(--mg-white);
    padding: 0 0.25rem 0 1rem;
}

a.link,
a.link:link,
a.link:visited {
    color: var(--mg-white);
    text-decoration: none;
    transition: .3s;
}

a.link:hover {
    color: var(--theme-color-orange);
    text-decoration: underline;
    transition: .3s;
}

.close {
    color: var(--mg-white);
    background-color: var(--mg-dark);
    font-size: 1.5rem;
    padding: 0 0.25rem 0.25rem 0.25rem;
    margin: 0;
    border: 0;
    line-height: 1;
}

.close:hover {
    cursor: pointer;
    filter: invert();
}