.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--mg-dark);
    color: var(--mg-light);
    padding: 0.25rem;
    text-align: center;
}

.content {
    flex: 1;
    font-size: 0.833rem;
    font-size: var(--step--1);
    margin: 0 1rem 0 0;
}

.moreInfo {
    margin: 0 0 0 1rem;
}

.moreInfo::before {
    content: "\279E\20";
    padding: 0;
}

a.link,
a.link:link,
a.link:visited {
    color: var(--mg-light);
    text-decoration: none;
    transition: 0.3s;
}

a.link:focus {
    outline: 2px var(--mg-gray-2) dotted;
    outline-offset: 0.25rem;
    transition: 0.3s;
}

a.link:hover {
    color: var(--theme-color-orange);
    text-decoration: underline;
    transition: 0.3s;
}
